p {
  margin: 0;
}

body {
  background-color: rgb(245, 245, 245);
}

.heading {
  text-align: center;
}

img {
  height: 230px;
  width: auto;
  max-width: 250px;
  object-fit: cover;

  border: 5px solid rgba(255, 255, 255, 0.808);
  border-radius: 0 10px 10px 0;
}

.pcImage {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pcContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin: 0 20px;
  padding: 15px;

  border: 5px solid rgb(122, 122, 122);
  border-radius: 15px;

  background-color: rgb(204, 204, 204);
}

.pcBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
  width: 530px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 15px 15px 0;

  background-color: rgba(0, 0, 0, 0.144);
}

.pcData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 250px;
}

@media only screen and (max-width: 1178px) {
  .pcBox {
    justify-content: center;
    gap: 0;
    width: 250px;
  }
  .pcData {
    padding: 15px;
    flex-wrap: wrap;
    width: 220px;
  }
  .pcImage {
    width: 230px;
  }
  img {
    max-width: 220px;
  }
}

