p {
  margin: 0;
}

body {
  background-color: rgb(243, 243, 243);
}

/* HEADING */

.heading {
  text-align: center;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  text-shadow: none;
  filter: drop-shadow(6px 6px 6px #6d6d6d);
  user-select: none;
  margin: 30px;
}

.hidden {
  display: none !important; /* important or take it to the and of page */
}

/* IMAGES */

img {
  height: 230px;
  width: auto;
  max-width: 250px;
  object-fit: cover;

  border: 5px solid rgba(255, 255, 255, 0.808);
  border-radius: 0 10px 10px 0;
}

.pcImage {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* CONTAINERS */

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  gap: 10px;
  margin: 0 20px;
  padding: 15px;

  border: 5px solid rgb(122, 122, 122, 0.3);
  border-radius: 15px;
  background-color: rgb(177, 177, 177, 0.5);
}

#pcContainer, #formContainer {
  margin-bottom: 60px;
}

.pcBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  gap: 20px;
  width: 530px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 15px 15px 0;
  background-color: rgba(0, 0, 0, 0.144);
}

.pcData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 250px;
}

/* @MEDIA */

@media only screen and (max-width: 1178px) {
  .pcBox {
    justify-content: center;
    gap: 0;
    width: 250px;
  }
  .pcData {
    padding: 15px;
    flex-wrap: wrap;
    width: 220px;
  }
  .pcImage {
    width: 230px;
  }
  img {
    max-width: 220px;
  }
}

@media only screen and (max-width: 1804px) {
  
  #accContainer .pcBox {
    justify-content: center;
    gap: 0;
    width: 250px;
  }
  #accContainer .pcData {
    padding: 15px;
    flex-wrap: wrap;
    width: 220px;
  }
}

.noVisibility {
  visibility: hidden;
}

.columnFlex {
  flex-direction: column;
  align-content: center;
}

.accessories {
  height: 130px;
  width: auto;
  max-width: 220px;
  object-fit: cover;
}

.accessImg {
  height: 150px;
}

.addedAcc {
  border: 3px solid rgba(9, 138, 5, 0.5);
  background-color: rgba(2, 116, 11, 0.144);
}

.invalid {
  border: 2px solid rgba(138, 5, 5, 0.5);
  background-color: rgba(116, 2, 2, 0.144);
}
.valid {
  border: 2px solid rgba(9, 138, 5, 0.5);
  background-color: rgba(2, 116, 11, 0.144);
}

#summaryContainer {
  align-items: center;
}

.accDivSummary {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accImgSummary {
  height: 50px;
  width: 90px;
}

.divSum {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divSum > p{
  font-size: 18px;
}

.addedAccText {
  font-size: large;
  font-weight: bold;
  margin-top: 15px;
}

.sumDiv {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}

/* FILTER */

.filter {
 flex-grow: 1;
 flex-basis: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 15px;
 gap: 10px;
 font-size: 16px;
}

.filter .filterInput {
  width: 70%;
  max-width: 300px;
}

#priceText {
  width: 40px;
}


/* SLIDER */


.filter .slider {
  width: 50%;
  max-width: 200px;
  cursor: col-resize;
}

/* FORM */

.accText2 {
  font-weight: bold;
  font-size: large;
  padding-left: 20px;
  font-size: 20px;
  margin: 10px;
}

.textForm {
  align-self: flex-start;
  font-weight: bold;
  font-size: large;
  padding-left: 20px;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-bottom: 20px;

  border: 5px solid rgb(122, 122, 122, 0.3);
  border-radius: 15px;
  background-color: rgb(177, 177, 177, 0.5);
}

.form > * {
  box-sizing: content-box;
  width: 200px;
}

.form #fname {
  width: 196px;
  font-size: 16px;
}

.form #deliverDate {
  width: 130px;
  font-size: 16px;
}

.radioFrame {
  text-align: center;
}

.form p {
  margin-top: 10px;
}

.form .deliverDate{
  margin-top: 10px;
}

/* BUTTONS */

.buttonDiv {
  display: flex;
  justify-content: flex-start;
  gap: 30%;
}

.divBtn {
  display: flex;
  justify-content: center;
}

.btn {
  height: 40px;
  width: 200px;
  margin: 20px;
  border: 2px solid rgba(126, 126, 126, 0.5);
  background-color: rgba(78, 78, 78, 0.144);
  margin-bottom: 60px;
}

button {
  box-sizing: content-box;
  height: 36px;
  background-color: #f0f0f0;
  border: none;
  color: #555;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:active {
  background-color: #ccc;
  transform: translateY(2px);
}

button:hover,
input:hover {
  transform: scale(1.05);
}

/* FOOTER */
a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background: linear-gradient( rgb(236, 235, 235), rgb(155, 155, 155) 50%);
  box-shadow: 0px -3px 20px rgb(255, 255, 255);
  color: black;
  user-select: none;
}
